<div class="space-launch">
  <h2>SpaceX Launch Program</h2>
  <div class="container">
    <div class="left-container" id="filterContainer">
      <h4 class="filter-text">Filters</h4>
      <div class="filter-title">Launch Year</div>
      <hr />
      <div class="left-flex-container">
        <div *ngFor="let year of uniqueLaunchYear; let i = index" class="launch-year">
          <div (click)="filterYear(year)" class="year-btn">
            <button>
              {{ year }}
            </button>
          </div>
        </div>
      </div>

      <div class="filter-title">
        <b>Successful Launch</b>
      </div>
      <hr />
      <br />
      <div class="launch-land-button">
        <button (click)="filterByLaunch(true)">True</button>
        <button (click)="filterByLaunch(false)">False</button>
      </div>
      <div class="filter-title">
        <b>Successful Landing</b>
      </div>
      <hr />
      <br />
      <div class="launch-land-button">
        <button (click)="filterByLand(true)">True</button>
        <button (click)="filterByLand(false)">False</button>
      </div>
    </div>

    <div class="right-container" id="launchCardContainer" *ngIf="!isLoading">
      <div *ngFor="let launch of launches" class="launch-card">
        <div class="launch-card-section">
          <figure>
            <img src="{{ launch.links.mission_patch_small }}" alt="Launch Image" />
          </figure>

          <h4>
            {{ launch.mission_name }} # {{ launch.flight_number }}
          </h4>
          <h4>
            Mission_ID:
            <ul *ngIf="launch.mission_id.length > 0">
              <li>{{ launch.mission_id }}</li>
            </ul>
            <span #noMissionFound>No Mission Id found</span>
          </h4>
          <h4>
            Launch Year:
            <span>{{ launch.launch_year }}</span>
          </h4>
          <h4>
            Successful Launch:
            <span>{{ launch.launch_success }}</span>
          </h4>
          <h4>
            Successful Landing: <span>{{ launch.rocket.first_stage.cores[0].land_success || false }}</span>
          </h4>
        </div>
      </div>
      <div class="loader" *ngIf="isLoading && launchesCount === 0"></div>
    </div>
    
  </div>
  <footer><b>Developed By: </b>Shweta Kesari</footer>
</div>